<nav class="header" >
    <div class="nav-wrapper" >
        <div class="team-menu teamMenu" >
            {{team}}
            <teamTool></teamTool>
        </div>
        <div class="channel-menu channelMenu" >
                    <span class="channelInfo">
                        <span class="channel-menu-name channelMenuName" >
                            <span class="channel-menu-prefix channelPrefix" ># </span>
                            {{channel}}
                        </span>
                        <channelTool></channelTool>>
                    </span>
            <ul id="nav-mobile" class="right hide-on-med-and-down ulList" >
                <dropdown [values]="dropdownValues" [name] = "name" (select)="action($event)"></dropdown>
            </ul>
        </div>
    </div>
</nav>