<div class="listings_Container">
    <div class="listings_channels">
        <div class="listings_header">
                             <span class="listings_header_text">
                                 Channels
                             </span>
            <div class="listings_tools" (click)="createChannel()"></div>
            <!--{{#if state}}-->
                <!--{{> createChannelDialog state = state}}-->
            <!--{{/if}}-->
        </div>
        <ul class="channel_list">

            <li *ngFor="let item of data | async" class="channel">
                <channel channelName={{item.name}} channelPrivate = {{item.private}}></channel>
            </li>

            <!--{{#each channels}}-->
                <!--{{> channel name = name private = private}}-->
            <!--{{/each}}-->
        </ul>
    </div>

</div>