<div class="listings_Container">
    <div class="listings_channels">
        <div class="listings_header">
                             <span class="listings_header_text">
                                 Channels
                             </span>
            <div class="listings_tools"></div>
            <!--{{#if state}}-->
                <!--{{> createChannelDialog state = state}}-->
            <!--{{/if}}-->
        </div>
        <ul class="channel_list">

            <li *ngFor="let item of data | async" class="channel">

                <a class="channel_name" href="#">
                    <div class="channel-state">
                        <span class="private-channel " ></span>
                    </div>
                    <span class="prefix">#</span>
                    <span class="channel-name">{{item.name}}</span>
                    <!--<div class="{{private}}"></div>-->
                </a>
            </li>

            <!--{{#each channels}}-->
                <!--{{> channel name = name private = private}}-->
            <!--{{/each}}-->
        </ul>
    </div>

</div>