<div class="messages_container">
    <ul>
        <li *ngFor="let item of data | async" class="message">
            <message text={{item.text}} timestamp={{item.date}} user={{item.user}} messageId={{item._id}}></message>
            <!--<message messageText={{item.text}} timestamp={{item.date}} user={{item.user}} messageId={{item._id}}></message>-->
        </li>

            <!--{{#if Template.subscriptionsReady}}-->
            <!--{{#each messages}}-->
                <!--{{> message text = text timestamp=date user=user messageId = _id}}-->
            <!--{{/each}}-->
        <!--{{else}}-->
            <!--Loading...-->
        <!--{{/if}}-->
    </ul>
</div>