<div class="footer">
    <div class="user-menu">
        <span class="user-menu_profile-pic"></span>
        <span class="user-menu_username">User</span>
        <img class="connection_icon" src="data:image/png;base64,iVBORw0KGgoAAAAN...">
        <span class="connection_status"> online</span>
    </div>

    <div class="input">
        <input type="text" #message class="inputText" (keyup.enter)="getTextMessage(message.value)" [(ngModel)]="messageInput" name="messageInput">
        <button class="form-control btn btn-login sendButton" (click)="sendMessage()">Send</button>
    </div>
</div>